# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environments
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Dataset
dataset/
datasets/
data/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db